# Ignore everything
**

# Allow the .gitignore file, .tmux.conf, and .bashrc
!.gitignore
!.tmux.conf
!.bashrc

# Allow the entire .config directory but ignore its contents
!.config/
.config/**

# Specifically allow everything under .config/nvim/
!.config/nvim/
!.config/nvim/**
